@{
    ViewBag.Title = "FourthTest";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-12 col-md-6 box flex-nowrap d-flex justify-content-around">
            <div class="left-box d-flex flex-wrap col-2 justify-content-center">
                <div class="title-box text-success">人造、他人</div>
                <button id="left"> A</button>
            </div>
            <div class="center-box d-flex col-5 justify-content-center">
                <div class="textbox">
                    <p>選擇看到的詞彙為何者歸類</p><hr />
                    <p>若是為<strong>人造、他人</strong>請按<strong>A</strong></p><hr />
                    <p>若是為<strong>自然、自己</strong>請按<strong>L</strong></p><hr />
                    <p id="blink">-----請按<strong>空白建</strong>開始-----</p>
                </div>
            </div>
            <div class="right-box d-flex flex-wrap col-2 justify-content-center">
                <div class="title-box text-success">自然、自己</div>
                <button id="right" class="d-block"> L</button>
            </div>
        </div>
    </div>
}
<div class="hide">
    <a href="~/TestPage/FifthTest" id="Changeview"></a>
</div>

@section JS{
    <script>

        document.addEventListener("keydown", OK);
        document.addEventListener("keyup", keyup);
        var jsonitem;
        var ans =
        {
            "name": "",
            "round": "",
            "data": []
        };
        var json = $.ajax({
            type: "Get",
            url: "../api/Test/TestOne",
            dataType: "json",
            success: OK,
            error: function () {
                alert("error!!!!");
            }
        });
        var spacecontroller = true;
        var questionitem = 0;
        var len = ans.data.length;
        var time = new Date();
        var now = Date.now();
        var key = true;

        function keyup() {
            key = true;
        }

        function check(p) {
            if (questionitem > 2) {
                var checkitemone = ans.data[questionitem];
                var checkitemtwo = ans.data[questionitem - 1];
                if (checkitemone == checkitemtwo) {
                    questionitem = questionitem - 1;
                    ans.data.pop();
                    p[1].innerHTML = "<h1>" + jsonitem[questionitem].Main + "</h1>";
                }
            }
        }

        function KeybordSelect() {
            var keybordnumber = event.keyCode;
            var p = document.querySelectorAll(".textbox p");
            if (spacecontroller) {
                if (keybordnumber == 32) {
                    ans.name = jsonitem[20].Main;
                    ans.round = 4;
                    ans.data.push(Date.now());
                    for (var i = 0; i < p.length; i++) {
                        p[i].style.display = "none";
                    };
                    p[1].style.display = "block";
                    p[1].innerHTML = "<h1>" + jsonitem[0].Main + "</h1>";
                    spacecontroller = false;
                    key = false;
                } else {
                    alert("請先按空白建!!!");
                }
            } else {
                if (keybordnumber == jsonitem[questionitem].KeybordCode && key) {
                    if (questionitem == 19) {
                        key = false;
                        ans.data.push(Date.now());
                        questionitem += 1;
                        fetch('../api/DataManager/BuildData', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                Name: ans.name,
                                Round: ans.round,
                                one: ans.data[0],
                                two: ans.data[1],
                                three: ans.data[2],
                                four: ans.data[3],
                                five: ans.data[4],
                                six: ans.data[5],
                                seven: ans.data[6],
                                eight: ans.data[7],
                                nine: ans.data[8],
                                ten: ans.data[9],
                                eleven: ans.data[10],
                                twelve: ans.data[11],
                                thirteen: ans.data[12],
                                fourteen: ans.data[13],
                                fifteen: ans.data[14],
                                sixteen: ans.data[15],
                                seventeen: ans.data[16],
                                eighteen: ans.data[17],
                                nineteen: ans.data[18],
                                twenty: ans.data[19],
                                twentyone: ans.data[20],
                            })
                        }).then(function () {
                            document.getElementById('Changeview').click();
                        });
                    } else {
                        key = false;
                        ans.data.push(Date.now());
                        questionitem += 1;
                        p[1].innerHTML = "<h1>" + jsonitem[questionitem].Main + "</h1>";
                    }
                }
                else {
                    if (key) {
                        alert("X");
                    }
                }
            }
        }

        function OK() {
            jsonitem = JSON.parse(json.responseText);
            KeybordSelect();
        }

        document.onkeydown = OK;
        document.onkeyup = keyup;
    </script>
}

@section CSS {
    <style>
        #danger {
            display: none;
        }

        #blink {
            animation-duration: .7s;
            animation-name: blink;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
        }

        @@keyframes blink {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        .title-box {
            font-size: x-large;
        }

        button {
            color: #00ff21;
            border: none;
            font-size: 90px;
            background-color: #000;
        }

        .box {
            border: 2px solid #FFF;
            background-color: #000;
            margin: 50px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 0px 10px;
        }

        .cotainer {
            max-width: none !important;
        }

        @@media (min-width:1200px) {
            .container {
                max-width: 100% !important;
            }
        }

        @@media (min-width:992px) {
            .container {
                max-width: 100% !important;
            }
        }

        @@media (min-width:768px) {
            .container {
                max-width: 100% !important;
            }
        }

        @@media (min-width:576px) {
            .container {
                max-width: 100% !important;
            }
        }

        .row {
            display: flex;
            background-color: #000;
            justify-content: center;
            width: 100%;
            height: 100vh;
        }

        body {
            padding: 0px;
        }

        .body-content {
            padding: 0px;
            padding-left: 20px;
            justify-content: center;
            background-color: #000;
        }

        .textbox {
            color: #FFF;
            justify-content: center;
            text-align: center;
            width: 90%;
            font-size: 18px;
        }

        footer {
            display: none;
        }

        hr {
            display: none;
        }
    </style>
}